#mapa {
    width: 100% !important;
    height: 75% !important;
    border-radius: 1rem;
    border: solid 10px white;
    box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.mapboxgl-popup {
    max-width: 100px;
}

#txt {
    color: black;
}