<ion-content [fullscreen]="true" class="ion-padding-horizontal">
    <div class="div1">
        <ion-card class="ion-text-center">
            <ion-card-title>
                <ion-label>
                    <h1>Viajes</h1>
                </ion-label>
            </ion-card-title>
            <ion-button expand="block" (click)="crear()" color="warning">Crear Viaje</ion-button>
            <ion-button expand="block" (click)="modificar()" color="warning">Modificar Viaje</ion-button>
            <ion-button expand="block" (click)="viajes()" color="warning">Ver Viajes</ion-button>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-img src="../../assets/icon/2560px-Logo_DuocUC.svg.png"></ion-img>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>