<ion-content [fullscreen]="true" class="ion-padding-horizontal">
    <div class="div1">
        <ion-card class="ion-text-center">
            <ion-card-title>
                <ion-label>
                    <h1>Viajes</h1>
                </ion-label>
            </ion-card-title>
            <ion-button expand="block" (click)="crear()">Crear Viaje</ion-button>
            <ion-button expand="block" (click)="viajes()">Ver Viajes</ion-button>
            <ion-button expand="block" (click)="modificar()">Modificar Viaje</ion-button>
        </ion-card>
    </div>
</ion-content>