<ion-header>
    <ion-toolbar>
        <ion-title>Te Llevo</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/rcontra"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding-vertical">
        <ion-card class="ion-text-center">
            <ion-card-title>
                <ion-label>
                    <h1>Nueva Contraseña</h1>
                </ion-label>
            </ion-card-title>
            <ion-card-content>
                <ion-item>
                    <ion-label position="floating">Nueva Contraseña:</ion-label>
                    <ion-input minlength=3 type="password" [(ngModel)]="ncontra" required></ion-input>
                </ion-item>
            </ion-card-content>
            <ion-alert-controller></ion-alert-controller>
            <ion-button expand="block" (click)="validar()" color="warning">Enviar</ion-button>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-img src="../../assets/icon/2560px-Logo_DuocUC.svg.png"></ion-img>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>