<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="ion-text-left">Te Llevo</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/modificar"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding-horizontal">
    <div>
        <ion-card class="ion-text-center">
            <ion-card-title>
                <ion-label>
                    <h1>Modificar</h1>
                </ion-label>
            </ion-card-title>
            <!--<ion-item>
              <ion-label position="floating">ID</ion-label>
              <ion-input type="number" [(ngModel)]="id"></ion-input>
          </ion-item> -->
            <ion-item>
                <ion-select required type="text" placeholder="Seleccione sector" [(ngModel)]="sector">
                    <ion-select-option>Viña del Mar</ion-select-option>
                    <ion-select-option>Valparaiso</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Direccion</ion-label>
                <ion-input type="text" [(ngModel)]="direc">{{viDireccion}}</ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Fecha</ion-label>
                <ion-datetime displayFormat="DD MM YYYY" placeholder="Select Date" [(ngModel)]="fe"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Acompañantes</ion-label>
                <ion-input type="number" pattern="\d*" [(ngModel)]="acom"></ion-input>
            </ion-item>
            <ion-alert-controller></ion-alert-controller>
            <ion-button expand="block" (click)="validar()">Actualizar</ion-button>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-img src="../../assets/icon/2560px-Logo_DuocUC.svg.png"></ion-img>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>