<ion-header>
    <ion-toolbar>
        <ion-title>Te Llevo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding-vertical">
        <ion-card class="ion-text-center">
            <ion-card-title>
                <ion-label>
                    <h1>Ingrese su Cuenta</h1>
                </ion-label>
            </ion-card-title>
            <ion-card-content>
                <ion-item>
                    <ion-label position="floating">Usuario</ion-label>
                    <ion-input maxlength=10 minlength=3 type="text" [(ngModel)]="nuser" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Contraseña</ion-label>
                    <ion-input aria-multiline=5 type="password" [(ngModel)]="ncontra" required></ion-input>
                </ion-item>
            </ion-card-content>
            <ion-button expand="block" (click)="validar()">Ingresar</ion-button>
            <p>
                <ion-text color="primary" (click)="ircontra()">¿Olvidaste tu contraseña?</ion-text>
            </p>
        </ion-card>
    </div>
</ion-content>